.data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.data-table thead {
  background: #f0f2f7;
}

.data-table th,
.data-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.data-table tbody tr {
  cursor: pointer;
  transition: background 0.2s ease;
}

.data-table tbody tr:hover {
  background: #f9fafb;
}

.data-table .active {
  background: #e6f0ff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 14px;
}

.pagination button {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #d0d7de;
  background-color: #f8f9fa;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #e7f0ff;
  border-color: #4c6ef5;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  font-weight: 500;
}

.table-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.table-controls select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.table-controls input[type="text"] {
  padding: 6px 10px;
  /* font-size: 1rem; */
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 200px;
  transition: border-color 0.3s ease;
}