* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f7fb;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
